
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Position the navbar on the left side of the screen */ 
.sidenav {
  height: 100%;
  width: 17em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(#30363f, #48505C);
  background-color: #30363f;
  overflow-x: hidden;
  padding-top: 1em;
}

/* Style the personal details */
.details{
  text-align: center;
  color: white;
  padding: 1em;
}

/* Make image round and 50% of its original size */
.details img{
  width: 50%;
  border-radius: 50%;
}

.details h3{
  font-size: 1.3em;
}

.details p{
  color: #808080;
  font-size: .9em;
}

/* Style each item in navlist  */
.sidenav .nav-item {
  margin-top: 1em;
  padding: .4em .4em .4em 2em;
  text-decoration: none;
  font-size: 1.2em;
  color: #808080;
  display: block;
}

/* Change color of nav-item on mouse hover */
.sidenav .nav-item:hover {
  color: #f2f2f2;
}

/* Nav-item color when clicked or active */
.sidenav .active{
  color: #f2f2f2;
}


/* Color of active nav-item when hovered by mouse */ 
.sidenav .active:hover{
  color: #fff;
}

/* --------------------------------------------------------------------- */

/* Increment the fontsize of all text and set the default color */ 
/* Set the margin-left of the main div equal to the width of sidebar */
.main {
  margin-left: 17em;
  color: #30363f;
}

/* Set padding of each sections inside main */
.section{
  padding: 1em 0em 4em 0em;
}

/* Default style of all container of each section */
.section .container {
  margin-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 1em;
  text-align: center;
}

/* Set the background image of the top section */
#top {
  color: white;
  background-color: #808080; /* This will be displayed when image failed to load */
  background-image: url('../images/bgimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#top .container h1{
  font-size: 2.5em;
  margin: 0 auto;
}

#top .container p{
  font-size: 1.4em;
}

/* --------------------------------------------------------------------- */

.header{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #808080;
}

.header h2{
  font-size: 2.1em;
}

/* ---------------------------------------------------------------------- */

#skills{
  background-color: #F7F7F7;
  padding-bottom: 0;
}

#skills .header hr{
  width: 20%;
  margin: 2em 0;
}

#skills .icons li{
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
  padding: .5em;
}

#skills .container{
  box-shadow: 0 -.4em #E0E0E0;
  background-color: #fff;
}

#skills .container .row{
  display: flex;
  padding: 1em 1em 1em 0;
}

#skills .container .row .col-1{
  flex: 40%;
  overflow: hidden;
  text-align: center;
  padding: .5em;
}

#skills .container .row .col-1 img{
  border-radius: 50%;
  width: 70%;
  transition-duration: .5s;
}

#skills .container .row .col-1 img:hover{
  transform: scale(1.1);
  transition-duration: .5s;
  cursor: pointer;
}

#skills .container .row .col-2{
  flex: 60%;
  font-size: 1.1em;
  padding: .5em 1em;
}

#skills .container .row .col-2 h3{
  font-weight: 700;
  font-size: 1.7em;
}

#skills .container .row .col{
  flex: 33.33%;
  overflow: hidden;
  text-align: center;
  padding: 1em;
}

#skills .container .row .col .card{
  -moz-box-shadow: 0 0 .3em #ccc;
  -webkit-box-shadow: 0 0 .3em #ccc;
  box-shadow: 0 0 .5em #ccc;
  transition-duration: .5s;

}

#skills .container .row .col .card:hover{
  -moz-box-shadow: 0 0 .3em #ccc;
  -webkit-box-shadow: 0 0 .3em #ccc;
  box-shadow: 0 0 1em #000;
  transition-duration: .5s;

}

#skills .container .row .col .card h4{
  font-weight: 700;
  font-size: 1.4em;
}

#skills .container .row .col .card ul{
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  padding: 1em;
}

/* ----------------------------------------------------------------------------- */

#project{
  background-color: #F7F7F7;
}

#project .container{
  box-shadow: 0 -.4em #E0E0E0;
  background-color: #F9F9F9;
}


#project .container .row{
  display: flex;
  padding: 1em .5em;
}

#project .container .row .col{
  flex:33.33%;
  overflow: hidden;
  text-align: center;
  padding: 1em;
}


#project .container .row .col .card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  overflow: hidden;
}

#project .container .row .col .card .content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  font-size: .8em;
  box-shadow: 0 .3em .5em 0 rgba(0,0,0,0.2);

}

#project .container .row .col .card:hover .content {
  transform: rotateY(180deg);
  transition-duration: .8s;
}

#project .container .row .col .card .content .front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

#project .container .row .col .card .front {
  background-color: #30363f;
}

#project .container .row .col .card .back {
  background-color: #30363f;
  color: white;
  padding: .5em;
  font-size: 1.2em;
  transform: rotateY(180deg);
}

#project .container .row .col .card .back a{
  text-decoration: none;
  color: #60BCFF;
}

#project .container .row .col .card .front img{
  width: 100%;
  height: 60%;
}

#project .container .row .col .card .front h4{
  font-size: 1.3em;
  color: white;
}

#project .container .row .col .card .front ul {
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  padding: .5em;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  background-color: white;
}

#project .container .row .col .card .front ul li {
  display: inline-block;
}

/* ----------------------------------------------------------------------------- */

#contacts .container{
  padding: 3em 2em;
  font-size: 1.1em;
}

#contacts .container h2{
  font-size: 2.1em;
  font-weight: 700;
}

#contacts .container a{
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 12px;
  background-color: #30363f;
  transition-duration: .5s;
}

#contacts .container a:hover{
  opacity: .8;
  transition-duration: .5s;
}

/* ----------------------------------------------------------------------------- */

footer{
  padding: 32px 16px;
  display: block;
  text-align: center;
  bottom: 0;
  color: white;
  box-shadow: 0px -5px #E0E0E0;
  background-color: #48505C;
}

footer ul{
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  padding: 8px;
  bottom: 0;
}

footer ul li {
  display: inline-block;
  padding: 8px;
  font-size: 2em;
  opacity: .5;
}

footer ul li:hover {
  opacity: 1;
}

footer #copyright{
  text-decoration: none;
}
