
@media screen and (max-width: 60em){
	
	.sidenav{
		display: none;
	}

	.main{
		margin-left: 0px;
	}

	.row{
  		flex-direction: column;
  		align-items: stretch;
		}

	@media screen and (min-width:  40em) and (max-width: 60em){
		#skills .container .row .col-1 img{
			width: 40%;
		}

	}

}
